@import '../../styles/vars.scss';

.panel-header{
  background-color: #{$color-dark};
  padding:20px 20px 20px 20px;
  button {
    color: white;
  }

  h3 {
    font-size: 20px;
    color: white;
  }

  small {
    color: lightgrey;
  }

  p{
    color: #A7A7A7;
    font-size: 14px;
    margin: 0;
  }
}

.btn-close {
  font-size: 25px!important;
  line-height: 8px!important;
  padding: 6px 0 0px 12px!important;
  margin-left: 10px!important;
  user-select: none;
  box-shadow: none;


}